<!DOCTYPE html>
<html>
<head><title><%= post.title %></title></head>
<body>
  <h1><%= post.title %></h1>
  <img src="<%= post.image %>" width="300" />
  <p><%= post.description %></p>
  <div><%= post.content %></div>
  <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
    <button>Delete</button>
  </form>
</body>
</html>
